@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}


body{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    height: 100dvh;
}

nav{
    
    width: 100%;
    position: fixed;
    top: 0;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*nav .sidebar li{
    margin-bottom: 50px;
}*/

nav a{
  height: 100%;
  margin: 0 20px;
  padding: 3px 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  /*font-weight: bold;*/
  border: 1px solid transparent;
  border-radius: 20px;
}
nav a:hover{
  /*border: 1px solid white;*/
  /*text-decoration: underline;*/
  color: orange;
  transform: scale(1.1);
}

.navname{
    font-size: 40px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 20px;
}
.navname:hover{
    cursor: default;
}
.cutbtn{
    position: absolute;
    top: -34px;
    right: 13px;
}
.sidebar{
  position: fixed;
  top: 60px;
  height: 30vh;
  backface-visibility: hidden;
  width: 100%;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rebeccapurple;
}



.sidebar a{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menubtn{
    display: none;
}


.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.allcontent{
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 60px;
}

.mainimage{
    width: auto;
    height: auto;
}
.maincontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

#myphoto{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.mainpgbtn{
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px;
    background-color: transparent;
    margin: 8px 5px 5px 5px;
    cursor: pointer;
}

.mainpgbtn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}



#hiiam{
    font-size: 50px;
    margin-bottom: -20px;
}

#mainname{
    text-align: left;

}

#mainname{
    font-size: 65px;
    font-weight: bold;
}

.btns{
    display: flex;
}

/* MAIN PAGE OVER */



.aboutpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}



.aboutme{
    margin-top: 15px;
    max-width: 50%
}

#about_name{
    background-color: red;
    padding-left: 2px;
    padding-right: 2px; 
    font-weight: bold;

}


/* ABOUT PAGE OVER */

/* PROJECTS PAGE START */



.projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_content{
    /*border: 1px solid white;*/
    border-radius: 20px;
    text-align: center;
    margin-bottom:30px;
}

.contentofprojects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allprojects{
    height: auto;
    width: 200px;
    max-width: 100%;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: hidden;
    border: 1px solid white;
    padding: 0 5px 5px 5px;
}

.allprojects:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.imgproject{
    height: 190px;
    width: 190px;
    border-radius: 10px;
    padding-top: 5px;
}

a{
    text-decoration: none;
}

.desc{
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
}


/* PROJECTS PAGE OVER */

.contactpage{
    /*margin-top: 100px;*/
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.as{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 1px white;
    padding-top: 15px;
    box-shadow: 0px 0px 20px 5px black;
}


#cont{
    width: 100%;    
    text-align: left;
    padding-left: 75px;
}



.form{
    margin-left: 50px;
}

.main{
    display: flex;
    margin: 20px;   
}



.myinfo{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
}

.inp{
    height: 30px;
    width: 250px;
    background: none;
    margin-bottom: 5px;
    padding-left: 5px;
    
}



.inpt{
    height: 100px;
    width: 250px;
    background: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: none;
    border-bottom: solid 1px;
    
}


input{
    border: none;
    border-bottom: solid 1px;
    font-size: 15px;
        
}


textarea{
    font-size: 15px;
}

input::placeholder{
    color: #fff;
    
}

.inpt::placeholder{
    color: #fff;
}



input:focus {
  border-bottom: solid 1px;
  outline: none; 
}

textarea:focus{
    border-bottom: solid 1px;
    outline: none;
}




.socials{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
}

.socials a{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.socials a:hover{
    border: 1px solid white;
}

#send_btn{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    width: 250px;
    text-align: center;
}

#send_btn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}

hr{
    display: none;
}

.hideonmobile{
    font-size: 20px;
}

/*  MOBILE  VIEW  */





@media (max-width: 767px) {

    .hideonmobile{
        display: none;
    }
    .menubtn{
        display: block;
        margin: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form {
        width: 100%;
    }

    .fname {
        text-align: left;
    }

    
    .myinfo {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    #bars{
        margin-right: 20px;
        display: block;
        cursor: pointer;
        
    }    

    

    hr{
        margin-top: 20px;
        width: 50%;
        display: block;
    }

    .contactpage{
        margin-top: 100px;
    }

    .aboutpage{
        margin-bottom: 120px;
    }

    .projects{
        height: 100vh;
    }

    .allprojects{
        width: 100%;
        flex-grow: 0;
    }

    
    .container{
        display: flex;
        justify-content: flex-end;
    }

    .allcontent{
        display: flex;
        flex-direction: column;
        border: none;
    }

    .maincontent{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 0 0 5px;
        height: 90vh;
        width: 100vw;
        background-image: url(images/mainimg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0;
    }

    #hiiam{
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    }

    #mainname{
        
        font-size: 50px;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 5);
    }

    #myphoto{
        display: none;
    }

    .mainpgbtn{
        padding: 4px;
        margin-top: -5px;
        margin-right: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }

    .btns{
        display: none;
    }

    .forborder{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    }
    /*.cross{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }*/
    nav a{
        font-size: 25px;
        margin-left: 0;
    }
    /*.sidebar li:first-child{
        position: absolute;
        top: 35px;
        right: 50px;
        margin: 0;
        width: 0;
    }*/
}
