@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    padding-left: 10px; 
    color: #fff;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.logo{
    margin-left: 30px;
    cursor: default;
}



nav{
    margin: 20px;
}

nav a{
    margin: 20px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border: solid 1px transparent;
}

nav a:hover{
    border: solid 1px #fff;
    border-radius: 10px;
}


.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.name{
    color: black;
    font-size: 50px;

}


#bigname{
    font-size: 60px;
    font-weight: bold;
}

.learn{
    padding: 8px;
    margin: 10px 5px 0 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

.learn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    background: 1px solid black;
}


/* MAIN PAGE OVER */



.aboutpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.about_head{

}

.aboutme{
    margin-top: 15px;
    max-width: 75%
}

#about_name{
    background-color: red;
    padding-left: 2px;
    padding-right: 2px; 
    font-weight: bold;

}




/* ABOUT PAGE OVER */

/* PROJECTS PAGE START */



.projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_content{
    /*border: 1px solid white;*/
    border-radius: 20px;
    text-align: center;
    margin-bottom:30px;
}

.contentofprojects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allprojects{
    height: 300px;
    width: 200px;
    max-width: 100%;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: hidden;
    border: 1px solid white;
}

.allprojects:hover{
    background-color: grey;
    cursor: pointer;
}

img{
    height: 200px;
    width: 190px;
    border-radius: 10px;
    padding-top: 5px;
}

.desc{
    font-size: 13px;
    line-height: 15px;
}


/* PROJECTS PAGE OVER */

.contactpage{
    /*margin-top: 100px;*/
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.as{
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: solid 1px white;
    padding-top: 15px;
}

#cont{
    width: 100%;    
    text-align: left;
    padding-left: 75px;
}



.form{
    margin-left: 50px;
}

.main{
    display: flex;
    margin: 20px;   
}



.myinfo{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 20px;
}

.inp{
    height: 30px;
    width: 250px;
    background: none;
    margin-bottom: 5px;
    padding-left: 5px;
    
}



.inpt{
    height: 100px;
    width: 250px;
    background: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: none;
    border-bottom: solid 1px;
    
}


input{
    border: none;
    border-bottom: solid 1px;
    font-size: 15px;
        
}


textarea{
    font-size: 15px;
}

input::placeholder{
    color: #fff;
    
}

.inpt::placeholder{
    color: #fff;
}



input:focus {
  border-bottom: solid 1px;
  outline: none; 
}

textarea:focus{
    border-bottom: solid 1px;
    outline: none;
}




.socials{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    
}

.socials a{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.socials a:hover{
    border: 1px solid white;
}

#send_btn{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid white;
    width: 250px;
    text-align: center;
}

#send_btn:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}

hr{
    display: none;
}



/*  MOBILE  VIEW  */





@media (max-width: 770px) {

    header{
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-image: url(images/bg.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo{
        margin: 0;
        padding: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .form {
        width: 100%;
    }

    .fname {
        text-align: left;
    }

    
    .myinfo {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    #bars{
        margin-right: 20px;
        display: block;
        cursor: pointer;
        
    }    

    nav{
        position: fixed;
        bottom: 0;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 4px;
        margin: 0;
        background-image: url(images/bg.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    nav a{
        display: block;
        font-size: 15px;
        margin: 0;
        padding: 10px;
    }

    hr{
        margin-top: 20px;
        width: 50%;
        display: block;
    }

    .contactpage{
        margin-top: 120px;
    }

    .aboutpage{
        margin-bottom: 120px;
    }
}

